<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Barbearia.Properties.Settings.BrutusConnectionString"
            connectionString="Data Source=FORLOGIC490;Initial Catalog=Brutus;User ID=sa;Password=abc123##"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>